# Firebase & Segredos (IMPORTANTE)
google-services.json
*.keystore
*.jks
*.p12
*.pem

# Expo & Metro
.expo/
dev/
logs/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# VS Code / IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Claude & IA
.claude/

# Dependências
node_modules/

# Builds e Código Nativo Gerado
android/
ios/
dist/
web-build/
.eas/

# macOS / Sistema Operacional
.DS_Store
Thumbs.db